<!DOCTYPE html>
<html>
<head>
  <title>GTSChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:username] %>
	<%= link_to "Sign Out", session_path, method: :delete, class: "btn btn-danger" %> &nbsp;
  <a style="color: black">Welcome, <%= session[:username] %>!</a>
<% end %>

<%= yield %>

</body>
</html>
